.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 32px;
    line-height: 24px;
    width: 32px;
    font-size: 24px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.square-title {
    background: #999;
}
  
.square:focus {
    outline: none;
}

.square-winner {
    background: #88D888;
}

@media screen and (max-width: 901px) {
    .square {
        font-size: 16px;
        line-height: 3.3vw;
        height: 3.3vw;
        width: 3.3vw;
    }
}

@media screen and (max-width: 481px) {
    .square {
        font-size: 14px;
        line-height: 14px;
    }
}